

/* header {
  width: 100%;
  background: #051830;
  height: 60px;
  display: table;
} */

/* .logo {
  padding: 20px;
  display: table-cell;
  vertical-align: middle;
  display: inline-block;
} */

/* .new-translation-container {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid #051830;
  border-radius: 3px;
} */

.new-translation-container h3 {
  padding: 20px;
  text-align: center;
  background: #051830;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
}

.new-translation-container form {
  padding: 20px;
}

.new-translation-container form .form-group label {
  font-weight: 300;
}

.new-translation-container form .form-group input {
  width: calc(100% - 20px);
  font-size: 16px;
  font-weight: 300;
  padding: 12px 8px;
}

.new-translation-container form .action-btn {
  margin-top: 20px;
}

.new-translation-container form .action-btn .submit-btn {
  width: 100%;
  background: #49B882;
  padding: 12px 10px;
  text-align: center;
  border: none;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;


  -webkit-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}

.new-translation-container form .action-btn .submit-btn:hover {
  background: #3A9468;
}

.translation-list-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid #051830;
  border-radius: 3px;
}

.translation-list-container h3 {
  padding: 20px;
  text-align: center;
  background: #051830;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
}

ul {
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid #051830;
}

li {
  width: calc(20% - 20px);
  display: inline-block;
  margin-right: -2px;
  vertical-align: top;
  padding: 0 10px;
  font-size: 14px;
}

.translation-list-container ul.list-header {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  background-color: #F5F9FC;
}
